{% extends 'base.html' %}
{% block title %}
    <title>Chatbot</title>
{% endblock %}
{% block content %}
<body>
    {% if scroll %}
<script>
    // document.getElementById('{{ scroll }}').scrollIntoView();
    // or
    document.location.hash = '#' + '{{ scroll }}';
</script>
{% endif %}
    <h1>This Is The CHATBOT</h1>
    <div id="chatbox">
        <img src="../static/images/img1.png" alt="roboto" id="roboto">
        <div id="answerbox">
            
            <h3>WillBot says...</h3>
            <div id="willbotsays">
                
                {% for item in chat_box %}
                {% if item is in answer_list %}
                <h1 id="answer" style="float: right; color:rgb(255, 255, 255)"> - {{ item }}</h1>
                
                {% elif item is in question_list %}
                {% if "codenation" in item or "website" in item %}
                <h1 id="answer" style=" color:rgb(255, 255, 255); text-shadow: #444444;"><a href="http://wearecodenation.com">http://wearecodenation.com</a></h1>
                {% endif %}
                {% if "contact" in item or 'call' in item or 'touch' in item %}
                <br>
                <h1 id="answer" style=" color:rgb(255, 255, 255); text-shadow: #444444;"><a href="mailto:hello@wearecodenation.com">hello@wearecodenation.com</a> Tel. <a href="tel:+44 333 050 4570"> 0333 050 4570</a></h1>
                {% endif %}
                <h1 id="question" style="float: left; color: #274E9B">{{ item }} - </h1>
                
                {% endif %}
                {% endfor %}
                <br><br>
            </div>
                <form role="form" method="POST" action="/chatbot">
                    <div id="questionbox">
                        <input type="text"
                                name="message"
                                autocomplete="off"
                                id="message-box"
                                placeholder="Enter your question here..."
                                style="max-width: 300px;"
                                autofocus required
                        >
                    </div>
                        <button id="submit-button" type="submit" style="display: none">
                            Submit
                        </button>
                </form>

            
        </div>
    </div>
    {% endblock %}
</body>
</html>